.space {
	height: 30px;
}

.bar {
	background-color: #162E49;
	height: 80px;
}

.bar-app {
	background-color: #A0569E;
	height: 50px;
}

.columns {
	/*border: solid 1px greenyellow;*/
}

.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333; 
}

.input {
    width: 610px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #D8D8D8;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-2 {
    width: 610px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

#question {
	margin-bottom: 20px;
}

.answer {
    margin-top: -5px !important;
    font-size: 18px !important;
}

.title {
	color: #FFFFFF;
	font-size: 40px;
	font-family: verdana;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}

.air {
	height: 50px;
}

.air-home {
	height: 115px;
}

.panel-login {
	/*border: solid 1px red;*/
    height: 300px;
}

.center {
	text-align: center;
}

.inputs {
	font-family: mregular;
	font-size: 22px;
    height: 70px;
    width: 400px;
}

.inputs-perfil {
	font-family: mregular;
	font-size: 18px;
    height: 45px;
    width: 500px;
    border-radius: 0px 0px 0px 0px;
}

#email, #nombre {
	border-radius: 10px 10px 0px 0px;
}

#password {
	border-radius: 0px 0px 0px 0px;
}

.btn-login {
    background-color: #010039;
    border-radius: 0px 0px 0px 10px;
    color: #FFFFFF;
	font-size: 18px;
    height: 55px;
	margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    text-transform: uppercase;
    width: 400px;
}

.btn-guardar {
    background-color: #010039;
    border-radius: 0px 0px 0px 10px;
    color: #FFFFFF;
	font-size: 18px;
    height: 55px;
	margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    text-transform: uppercase;
    width: 500px;
}

.recupera {
	color: #FFFFFF;
	font-family: mregular;
	font-size: 14px;
	margin-left: -20px;
    margin-top: 19px;
    cursor: pointer;
}

.pos  {
    margin-left: -78px;
    margin-top: 15px;
}

.menu {
	width: 300px;
	height: 80px;
	border-radius: 15px;
	border: solid 1px;
	font-size: 17px;
    font-family: verdana;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: 25px;
}

.title-perfil {
	color: #FFF;
	font-family: mpro;
    font-size: 30px;
    margin-top: 10px;
	text-align: center;
    text-transform: uppercase;
}

.perfil {
   background-position: 0px 0px;
   border: solid 10px #FFF;
   margin-left: 45px;
}

.agenda {
   background-position: -275px 0px;
   border: solid 10px #FFF;
}

.pharma {
    background-position: 0px -191px;
    border: solid 10px #FFF;
    margin-left: 45px;
}

.history-visit {
    background-position: -270px -200px;
    border: solid 10px #FFF;
}

.menu-app {
    height: 75px;
    margin-bottom: 30px;
}

.box-option {
    display: inline-block;
    width: 120px;
    height: 85px;
    margin-left: -5px;
    background-image: url('../img/menu.png');
  	background-repeat: no-repeat;
}

#perfil {
	background-color: #A0569E;
	background-position: -120px -10px;
}

#agenda {
	background-color: #be2731;
	background-position: -250px -10px;
}

#farmacias {
	background-color: #149148;
	background-position: -376px -10px;
}

#historial {
	background-color: #39ace0;
	background-position: -505px -10px;
}

#logo {
	background-color: #030237;
	background-position: 5px -10px;
}

/* Add height value for select elements to match text input height */
select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: #FAFAFA;
  border-radius: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  color: rgba(0, 0, 0, 0.75);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: normal;
  padding: 0.5rem;
  border-radius: 0;
  height: 2.3125rem; }
  select::-ms-expand {
    display: none; }
  select.radius {
    border-radius: 3px; }
  select:hover {
    background-color: #f3f3f3;
    border-color: #999999; }
  select:disabled {
    background-color: #DDDDDD;
    cursor: default; }
  select[multiple] {
    height: auto; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  height: 2.3125rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear;
  -moz-transition: border-color 0.15s linear, background 0.15s linear;
  -ms-transition: border-color 0.15s linear, background 0.15s linear;
  -o-transition: border-color 0.15s linear, background 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear; }